.formulario {
   
    /*.ui-status{
        &.error {
            text-align: center;
            background-color: $melocoton; 
            padding: 10px; 
            border-radius: 5px;
            color: white; 
            margin-bottom: 10px; 
            display: none; 
        }

        &.loading {
            text-align: center;
            margin-bottom: 10px; 
            display: none;  
        }
        
    
    }
    &.error ui.status.error {
        display: block; 
    }
    &.loading ui.status.loading {
        display: block; 
    }*/

@include if-tablet-landscape {
    .form-control-group{
     box-sizing: border-box; 
        width: calc(50% - 10px);
     display: inline-block; 
      padding: 0 5px 0 5px; 
    }
}
}