<section class="cafeterias"> <!--ideal 

    <div class="ui-status empty">
         No se ha encontrado ninguna cafetería
     </div>

     <div class="ui-status error">
         Se ha producido un error
     </div>

     <div class="ui-status loading">
          Cargando...
    </div> -->

    <div > <!-- class="ui-status ideal" -->
    <a href="detail.html">
    <article class="local">
        <img class="foto" src="../img/dulce-de-leche.png" alt="Dulce de leche">
        <div class="nombre"> Dulce de leche </div>
        <div class="direccion">  Carrer del Pintor Gisbert, 2, 46006 València</div>
    </article>
    </a>
    <a href="detail.html">
     <article class="local">
     <img class="foto" src="../img/bastard.png" alt="Bastard">
    <div class="nombre"> Bastard  </div>
     <div class="direccion">  C/Leandro de Saralegui, nº 1, bajo izda., 46021 Valencia</div>
    </article>
    </a>
 <a href="detail.html">
    <article class="local">
        <img class="foto" src="../img/la-rollerie.png" alt="La Rollerie">
        <div class="nombre"> la rollerie </div>
        <div class="direccion"> C/ del Convent de Santa Clara, 7, 46002 València</div>
    </article>
    </a>

    <a href="detail.html">
            <article class="local">
                <img class="foto" src="../img/la-mas-bonita.png" alt="La más bonita">
                <div class="nombre"> La más Bonita </div>
                <div class="direccion">  Carrer de Cadis, 61, 46006 València</div>
  </article>
 </a>
 <a href="detail.html">
        <article class="local">
            <img class="foto" src="../img/raw-coffee.png" alt="Raw Coffee">
            <div class="nombre"> raw coffee </div>
            <div class="direccion"> Carrer de Martínez Cubells, 6, 46002 València</div>
        </article>
        </a>
   
        <a href="detail.html">
                <article class="local">
                    <img class="foto" src="../img/la-petite-brioche.png" alt="La Petite Brioche">
                    <div class="nombre"> la petite brioche </div>
                    <div class="direccion"> Carrer de Sorní, 28, 46004 València</div>
                </article>
                </a>

                <a href="detail.html">
                        <article class="local">
                            <img class="foto" src="../img/american-cupcakes.png" alt="American Cupcakes">
                            <div class="nombre"> american cupcakes </div>
                            <div class="direccion"> Carrer del Mestre Josep Serrano, 7, 46005 València</div>
                        </article>
                        </a>
                        <a href="detail.html">
                                <article class="local">
                                    <img class="foto" src="../img/la-fundadora.png" alt="La fundadora">
                                    <div class="nombre"> la fundadora </div>
                                    <div class="direccion"> Calle Jeronimo Muñoz 14, 46007 Valencia</div>
                                </article>
                                </a>
                                <a href="detail.html">
                                        <article class="local">
                                            <img class="foto" src="../img/mama-delicias.png" alt="Mamá Delicias">
                                            <div class="nombre"> Mamá Delicias </div>
                                            <div class="direccion"> Carrer del Periodista Azzati, 5, 46002 València</div>
                                        </article>
                                        </a>
                                        <a href="detail.html">
                                                <article class="local">
                                                    <img class="foto" src="../img/hansel-y-crepel.png" alt="Hansel&Crêpel">
                                                    <div class="nombre"> Hansel&Crêpel </div>
                                                    <div class="direccion"> 32, Carrer de l'Almirall Cadarso, 46005 València</div>
                                                </article>
                                                </a>
                                                                                                                                   
             
    </div>
    
</section>