<form novalidate > <!--class="formulario"


    <div class= "ui-status error">
    Se ha producido un error
    </div>

    <div class= "ui-status loading">
    Cargando comentario...
    </div> -->

    <div class="ui-status ideal">
        <div class="centrar-formulario">
        <div class="form-control-group">
            <label for="Nombre">Nombre</label>
            <input class="comentar"type="text" id="nombre" name="nombre" placeholder="Nombre"required>
        </div>


        <div class="form-control-group">
                <label for="puntuacion">Puntúa esta cafetería</label>
                <input class="comentar"type="text" id="puntuacion" name="puntuacion" placeholder="Puntuación"required>
        </div>

        <div class="form-control-group comentario">
                <label for="comentario">¿Cómo ha sido tu experiencia?</label>
                <input class="comentar" type="text" id="comentario" name="comentario" placeholder="Escribe aquí tu comentario"required>
        </div>

        <div class="form-control-group">
            <button> Enviar comentario</button>
        </div>
        </div>
    </div>



</form>